<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="csci498.thevoiceless.lunchlist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    
    <supports-screens android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:smallScreens="false" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <application
        android:icon="@drawable/fork"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <uses-library android:name="com.google.android.maps" />
        
        <activity
            android:name=".LunchList"
            android:label="@string/title_activity_lunch_list" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".DetailForm" />
        <activity android:name=".EditPreferences" />
        <activity android:name=".FeedActivity" />
        <service android:name=".FeedService" />
        
    </application>
</manifest>